@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-pop {
  transition: all 0.3s ease;
}
.btn-pop:active {
	-webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
}
.overCard {
  position: relative;
}
.overText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.overText .waste{
  transform: translate(-500%, -50%);
}
.overText .info{
  transform: translate(0%,170%);
}
.overText .status{
  transform: translate(10%,100%);
}
.overlay{
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gray{
  background-color:rgba(0,0,0,0.5);
}
.dropDown {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.background{
  background-image: url(../src/assets/img/ui/background.png);
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.backgroundHand{
  background-image: url(../src/assets/img/ui/backgroundHand.png);
  background-position: 50%, 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.cardSize{
  width: 10vw;
  height: auto;
}
.gauge{
  border: 3px solid #393332;
  border-radius: 5px;
  width: 200px;
  margin: 10px 0;
  background: #e4b714;
  display: flex;
  justify-content: flex-end;
}
.gauge .bar {
  width: 0;
  height: 15px;
  background: #393332;
  transition: 1s ease;
}
img {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  user-select: none;
  overflow: hidden;
}