@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-pop {
  transition: all 0.3s ease;
}
.btn-pop:hover {
  transform: translateY(-2px);
}
.btn-pop:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.turn {
  position: relative;
  max-width: 50%;
  max-height: 50%;
}
.turnText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overCard {
  position: relative;
  width: -30px;
  height: -30px;
}
.overText {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: -4px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay{
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropDown {
  position: relative;
  display: inline-block;
  z-index: 1;
}